@import '../App.scss';
.activityPage{
    @include flexers(column, white);
    height: 100vh;
    align-items: space-between; 
}

.activity {
    @include flexers(column, $middleColor);
    width: 50%;
}
img {
    height: 25vh;
}